/*
 * Copyright (c) 2023 CATIE
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <nordic/nrf52832_qfaa.dtsi>
#include "z_iaq-pinctrl.dtsi"

/ {
	model = "CATIE Z IAQ board";
	compatible = "catie,z-iaq";

	chosen {
		zephyr,console = &uart0;
		zephyr,shell-uart = &uart0;
		zephyr,bt-mon-uart = &uart0;
		zephyr,bt-c2h-uart = &uart0;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
	};

	leds {
		compatible = "gpio-leds";
		led1_r: led_0 {
			gpios = <&gpio0 13 GPIO_ACTIVE_HIGH>;
			label = "User LED1 Red";
		};
		led1_g: led_1 {
			gpios = <&gpio0 12 GPIO_ACTIVE_HIGH>;
			label = "User LED1 Green";
		};
		led1_b: led_2 {
			gpios = <&gpio0 11 GPIO_ACTIVE_HIGH>;
			label = "User LED1 Blue";
		};
		led2_r: led_3 {
			gpios = <&gpio0 16 GPIO_ACTIVE_HIGH>;
			label = "User LED2 Red";
		};
		led2_g: led_4 {
			gpios = <&gpio0 15 GPIO_ACTIVE_HIGH>;
			label = "User LED2 Green";
		};
		led2_b: led_5 {
			gpios = <&gpio0 14 GPIO_ACTIVE_HIGH>;
			label = "User LED2 Blue";
		};
		led3_r: led_6 {
			gpios = <&gpio0 20 GPIO_ACTIVE_HIGH>;
			label = "User LED3 Red";
		};
		led3_g: led_7 {
			gpios = <&gpio0 19 GPIO_ACTIVE_HIGH>;
			label = "User LED3 Green";
		};
		led3_b: led_8 {
			gpios = <&gpio0 17 GPIO_ACTIVE_HIGH>;
			label = "User LED3 Blue";
		};
	};

	pwmleds {
		compatible = "pwm-leds";
		pwm_led1_r: pwm_led_0 {
			pwms = <&pwm0 0 PWM_MSEC(20) PWM_POLARITY_INVERTED>;
			label = "User PWM LED 1 Red";
		};
		pwm_led1_g: pwm_led_1 {
			pwms = <&pwm0 1 PWM_MSEC(20) PWM_POLARITY_INVERTED>;
			label = "User PWM LED 1 Green";
		};
		pwm_led1_b: pwm_led_2 {
			pwms = <&pwm0 2 PWM_MSEC(20) PWM_POLARITY_INVERTED>;
			label = "User PWM LED 1 Blue";
		};
	};

	gpio_keys {
		compatible = "gpio-keys";
		user_button: button {
			label = "User Button";
			gpios = <&gpio0 10 GPIO_ACTIVE_LOW>;
		};
	};

	aliases {
		led0 = &led1_r;
		led1-r = &led1_r;
		led1-g = &led1_g;
		led1-b = &led1_b;
		led2-r = &led2_r;
		led2-g = &led2_g;
		led2-b = &led2_b;
		led3-r = &led3_r;
		led3-g = &led3_g;
		led3-b = &led3_b;
		pwm-led0 = &pwm_led1_r;
		pwm-led1 = &pwm_led1_g;
		pwm-led2 = &pwm_led1_b;
		pwm-led1-r = &pwm_led1_r;
		pwm-led1-g = &pwm_led1_g;
		pwm-led1-b = &pwm_led1_b;
		sw0 = &user_button;
	};
};

&uicr {
	gpio-as-nreset;
};

&gpio0 {
	status = "okay";
};

&gpiote0 {
	status = "okay";
};

&uart0 {
	status = "okay";
	compatible = "nordic,nrf-uarte";
	current-speed = <115200>;
	pinctrl-0 = <&uart0_default>;
	pinctrl-1 = <&uart0_sleep>;
	pinctrl-names = "default", "sleep";
};

&i2c0 {
	compatible = "nordic,nrf-twi";
	status = "okay";
	pinctrl-0 = <&i2c0_default>;
	pinctrl-1 = <&i2c0_sleep>;
	pinctrl-names = "default", "sleep";
};

&pwm0 {
	status = "okay";
	pinctrl-0 = <&pwm0_default>;
	pinctrl-1 = <&pwm0_sleep>;
	pinctrl-names = "default", "sleep";
};
